.centre{
	text-align: center;
}


.icon{
	margin-right: 0.25em;
}


.buttonAction{
	color: #752371;
}

.flexbox{
	display: flex;
	align-items: center;
	justify-content: center;
}

.cursor{
	cursor: pointer;
}